name: build-elastic

on:
  schedule:
    - cron: '0 0 * * 6,0'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tag: [9.2.3, 9.1.9, 9.1.4, 9.1.3, 9.0.8, 9.0.2, 8.19.9, 8.18.10, 8.18.2, 8.17.10, 8.17.6, 8.17.2, 8.16.4, 8.16.0, 8.15.4, 8.15.0, 8.14.3, 8.14.1, 8.13.4, 8.11.4, 8.11.1, 8.8.2, 8.6.2, 8.5.3, 8.2.3, 7.17.28, 7.17.27, 7.17.25, 7.17.23, 7.17.15, 7.16.3, 7.14.2, 7.13.4, 6.8.23]
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'

    - name: Prepare git
      env:
        GITHUB_USER: 1gtm
        GITHUB_TOKEN: ${{ secrets.LGTM_GITHUB_TOKEN }}
      run: |
        set -x
        git config --global user.name "1gtm"
        git config --global user.email "1gtm@appscode.com"
        git config --global \
          url."https://${GITHUB_USER}:${GITHUB_TOKEN}@github.com".insteadOf \
          "https://github.com"
        # git remote set-url origin https://${GITHUB_USER}:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git

    - name: Set up QEMU
      id: qemu
      uses: docker/setup-qemu-action@v3
      with:
        cache-image: false

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        platforms: linux/amd64,linux/arm64

    - uses: imjasonh/setup-crane@v0.1

    - name: Install trivy
      run: |
        # wget https://github.com/aquasecurity/trivy/releases/download/v0.18.3/trivy_0.18.3_Linux-64bit.deb
        # sudo dpkg -i trivy_0.18.3_Linux-64bit.deb
        sudo apt-get install -y --no-install-recommends wget apt-transport-https gnupg lsb-release
        wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | gpg --dearmor | sudo tee /usr/share/keyrings/trivy.gpg > /dev/null
        echo "deb [signed-by=/usr/share/keyrings/trivy.gpg] https://aquasecurity.github.io/trivy-repo/deb generic main" | sudo tee -a /etc/apt/sources.list.d/trivy.list
        sudo apt-get update
        sleep 5
        sudo apt-get install -y --no-install-recommends trivy

    - name: Log in to the GitHub Container registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    # - name: Setup upterm session
    #   uses: lhotari/action-upterm@v1

    - name: Build
      run: |
        go run cmd/build-image/main.go --name=elastic --tag=${{ matrix.tag }}

#  report:
#    name: Report
#    runs-on: ubuntu-latest
#    needs: build
#    if: always()
#    steps:
#    - uses: actions/checkout@v4
#
#    - name: Set up Go
#      uses: actions/setup-go@v5
#      with:
#        go-version: '1.25'
#
#    - name: Prepare git
#      env:
#        GITHUB_USER: 1gtm
#        GITHUB_TOKEN: ${{ secrets.LGTM_GITHUB_TOKEN }}
#      run: |
#        set -x
#        git config --global user.name "1gtm"
#        git config --global user.email "1gtm@appscode.com"
#        git config --global \
#          url."https://${GITHUB_USER}:${GITHUB_TOKEN}@github.com".insteadOf \
#          "https://github.com"
#        # git remote set-url origin https://${GITHUB_USER}:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
#
#    - name: Set up QEMU
#      id: qemu
#      uses: docker/setup-qemu-action@v3
#      with:
#        cache-image: false
#
#    - name: Set up Docker Buildx
#      uses: docker/setup-buildx-action@v3
#      with:
#        platforms: linux/amd64,linux/arm64
#
#    - name: Log in to the GitHub Container registry
#      uses: docker/login-action@v2
#      with:
#        registry: ghcr.io
#        username: ${{ github.actor }}
#        password: ${{ secrets.GITHUB_TOKEN }}
#
#    - name: Install trivy
#      run: |
#        # wget https://github.com/aquasecurity/trivy/releases/download/v0.18.3/trivy_0.18.3_Linux-64bit.deb
#        # sudo dpkg -i trivy_0.18.3_Linux-64bit.deb
#        sudo apt-get install -y --no-install-recommends wget apt-transport-https gnupg lsb-release
#        wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
#        echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee -a /etc/apt/sources.list.d/trivy.list
#        sudo apt-get update
#        sudo apt-get install -y --no-install-recommends trivy
#
#    - name: Build
#      env:
#        SMTP_ADDRESS: ${{ secrets.SMTP_ADDRESS }}
#        SMTP_USERNAME: ${{ secrets.SMTP_USERNAME }}
#        SMTP_PASSWORD: ${{ secrets.SMTP_PASSWORD }}
#      run: |
#        go run cmd/mail-report/main.go --name=elastic
#
#    - name: Update repo
#      run: |
#        git add --all
#        if [[ $(git status --porcelain) ]]; then
#          git commit -s -a -m "update elastic images $(date --rfc-3339=date)"
#          git fetch origin
#          # https://git-scm.com/docs/merge-strategies
#          git pull --rebase -s ours origin master
#          git push origin HEAD
#        fi
